<footer class="row-footer">
    <!--
    <div class="container">
        <div class="row">             
            
            <div class="col-xs-12 col-sm-6">
                <div class="nav navbar-nav">
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-social-icon btn-instagram" href="http://instgarm.com/"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p class="text-right">© Originals Recipes Vegan</p>
            </div>
        </div>
    </div>
    -->
</footer>
