<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" ui-sref="app"><img src="images/logoORvegan30.png" class="img-responsive"></a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li ng-class="{active: stateis('app')}" ><a ui-sref="app">
                                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                                    
                                    <li ng-class="{active: stateis('app.recipes')}"><a ui-sref="app.recipes">
                                        <span class="glyphicon glyphicon-info-sign"aria-hidden="true"></span> Recipes</a></li>
                                    
                                    
                                    <li ng-class="{active: stateis('app.store')}"><a ui-sref="app.store">
                                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Stores</a></li>

                                                                    
                                    <li ng-class="{active: stateis('app.instabase')}"><a ui-sref="app.instabase">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Instagram</a></li>

                                    <!--<li ng-class="{active: stateis('app.favorites')}"><a ui-sref="app.favorites">
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Favorites</a></li>-->
                                    
                                    
                                    <li ng-class="{active: stateis('app.about')}"><a ui-sref="app.about">
                                        <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> About</a></li>
                              
                                    

                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li ng-if="!loggedIn"><a ng-click="openLogin()">
                                    <span class="glyphicon glyphicon-log-in"></span> Login</a>
                                    </li>
                                    <li ng-if="loggedIn">
                                            <ul class="nav navbar-nav">
                                                <li><a><span class="glyphicon glyphicon-user"></span>{{username}}</a></li>

                                                <li ng-class="{active: stateis('app.recipe')}"><a ui-sref="app.recipe">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>List Recipes</a></li>

                                            </ul>
                                    </li>
                                    
                                    <li ng-if="loggedIn">
                                    <a ng-click="logOut()">
                                    <span class="glyphicon glyphicon-log-in"></span> Logout</a>
                                    </li>
                                </ul>
                            </div>
        </div>
    </nav>         

