<div class="container" ng-controller="StoreController">
    
    <div class="row">
        
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li>Store</li>
               </ul>
            </div><!--col-xs-12 -->
        

            <div class="col-xs-12 bgTxt">
                
                <p style="padding:20px;"></p>
                <h3 align=center>Find a Vegan store or restaurant near you.</h3>
                <p align=center>Example : vegan boutique Paris</p>
            
            
                <p class="alert alert-danger text-center" role="alert" ng-show="apiError">
                    <b>API Error : </b> <span>{{ apiStatus }}</span>
                    </p>

        
                <form name="searchForm" novalidate  ng-submit="search()">

                    <p class="input-group">
                        <input name="place" type="text" class="form-control" 
                        ng-model="searchPlace" required autofocus />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" 
                            ng-disabled="searchForm.$invalid">Search</button>
                        </span>
                    </p>
                </form>
               
                <h3 align=center>{{ place.name }}</h3>
                <p align=center>{{ address }}</p>
                <p align=center>{{ phone }}</p>
        

                <div id="map"></div>
            </div><!--col-xs-12 -->
            
            
            <div class="col-xs-12"><p style="padding:2em;"></p></div>
    </div> <!--row -->      

</div> <!--Endcontainer -->  

  

    
