<div class="container" >
        
        <div class="row" >
            
            <div class="col-xs-12"><p style="padding:3em;"></p></div><!--endColxs12-->
            
            <div class="col-xs-12 ">

                <form class="form-horizontal" role="form" name="recipeForm" ng-submit="addRecipe()">
                    <div ng-include="'views/partials/form.html'"></div>
                </form>

            </div><!--endColxs12-->

            <div class="col-xs-12"><p style="padding:3em;"></p></div><!--endColxs12-->

        </div><!--endRow-->

</div><!--endCont-->